*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.dSYM

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
cse333/ex/ex1a
cse333/ex/ex1b
cse333/ex/ex2
cse333/hw0/hello_world
cse333/hw0/hello_world.o
cse333/ex/ex3
