pa2/LiveQuerySuggestions/packages
pa2/LiveQuerySuggestions/LiveQuerySuggestions/bin
pa2/LiveQuerySuggestions/LiveQuerySuggestions/obj
pa2/LiveQuerySuggestions/LiveQuerySuggestions/packages.config

pa3/WebCrawler/packages
pa3/WebCrawler/CrawlerWorkerRole/bin
pa3/WebCrawler/CrawlerWorkerRole/obj
pa3/WebCrawler/DashboardWebRole/bin
pa3/WebCrawler/DashboardWebRole/obj
pa3/WebCrawler/WebCrawler/bin
pa3/WebCrawler/WebCrawler/obj
pa3/WebCrawler/WebCrawler/csx
pa3/WebCrawler/CrawlerLibrary/bin
pa3/WebCrawler/CrawlerLibrary/obj
pa3/CrawlerTest

pa4/NanoSearch/packages
pa4/NanoSearch/CrawlerWorkerRole/bin
pa4/NanoSearch/CrawlerWorkerRole/obj
pa4/NanoSearch/NanoSearchWebRole/bin
pa4/NanoSearch/NanoSearchWebRole/obj
pa4/NanoSearch/NanoSearch/bin
pa4/NanoSearch/NanoSearch/obj
pa4/NanoSearch/NanoSearch/csx
pa4/NanoSearch/CrawlerLibrary/bin
pa4/NanoSearch/CrawlerLibrary/obj