em {
    color: rgb(170, 170, 170);
}

#suggestions {
    width: 100%;
}

#results {
    margin-left: 100px;
    min-width: 600px;
    width: 60%;
}

h1 {
    margin-right: 20px;
    display: inline;
}

.respanel {
    border: none;
}

#topbar {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

#search-box {
    display: inline-block;
    width: 70%;
    min-width: 500px;
    position: relative;
    bottom: -5px;
}

#search-button {
    width: 50px;
}

#suggestions {
    position: absolute;
    left: 0px;
    box-shadow: black 0px 0px 5px;
    z-index: 100;
}

/* Player view */
tr, th {
	text-align: center;
}

.player-img {
	float: left;
}

.player-card {
	overflow: hidden;
	background: linear-gradient(white, lightblue);
}

.player-info {
	position: relative;
	overflow: hidden;
	margin: 0;
	background-color: rgba(255,255,255,0);
	height: 185px;
}

.player-stats {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
}

.player-stats-row > th {
	border-color: black !important;
}

.top-banner {
	display: block;
	margin: auto;
}