body {
	font-family: "Corbel" sans-serif;
	background-color: lightblue;
	/*background: linear-gradient(lightblue, turquoise);*/
}

#main {
	display: inline-block;
}

tr, th {
	text-align: center;
}

.player-img {
	float: left;
}

.player-card {
	overflow: hidden;
}

.player-stats {
	overflow: hidden;
	margin: 0;	
}

.results-page-content {
	padding: 20px;
	border-radius: 5px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(255,255,255, 0.80);
}

.top-banner {
	display: block;
	margin: auto;
}