body {
	font-family: "Corbel" sans-serif;
	background-color: lightblue;
}

.results-page-content {
	padding: 20px;
	border-radius: 5px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
}


#main {
	display: inline-block;
}

tr, th {
	text-align: center;
}

.player-img {
	float: left;
}

.player-card {
	overflow: hidden;
	background: linear-gradient(white, lightblue);
}

.player-info {
	position: relative;
	overflow: hidden;
	margin: 0;
	background-color: rgba(255,255,255,0);
	height: 185px;
}

.player-stats {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
}

.player-stats-row > th {
	border-color: black !important;
}

.top-banner {
	display: block;
	margin: auto;
}